.searchresults__div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #f5f6f7;
  padding: 0 104px;
  padding-top: 80px;
  display: grid;
  justify-content: center;
}

.searchresult__cards-listitem {
  box-sizing: border-box;
  display: flex;
}
.searchresult__notfound {
  grid-template-columns: 2 / 3;
}
.searchresult-title {
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 64px;
}

.searchresult__container {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  background: #f5f6f7;
  display: grid;
  grid-template-columns: repeat(3, minmax(288px, 400px));
  gap: 16px;
  padding-bottom: 208px;
}
.searchresult__container-all {
  padding-bottom: 64px;
}

button.newscardlist__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  bottom: 89px;
  border-radius: 80px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  cursor: pointer;
  width: 288px;
  height: 64px;
  padding: 0 50px;
  border: none;
}
@media screen and (max-width: 1230px) {
  .searchresults__div {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 920px) {
  .searchresult__container {
    grid-template-columns: repeat(3, minmax(224px, 288px));
  }
}
@media screen and (max-width: 780px) {
  .searchresults__div {
    padding: 40px;
    padding-top: 32px;
    padding-bottom: 0;
  }
  .searchresult-title {
    padding-bottom: 32px;
  }
  .searchresult__container {
    gap: 8px;
    padding-bottom: 128px;
  }
  .searchresult__container-all {
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 700px) {
  .searchresult__container {
    grid-template-columns: repeat(2, minmax(224px, 288px));
  }
}
@media screen and (max-width: 600px) {
  .searchresult__container {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    padding-bottom: 96px;
  }
  .searchresult-title {
    margin: 0;
    font-size: 30px;
    line-height: 34px;
    padding-left: 0;
    padding-bottom: 58px;
  }
}
@media screen and (max-width: 450px) {
  .searchresults__div {
    padding-left: 16px;
    padding-right: 16px;
  }
  .searchresult__container-all {
    padding-bottom: 12px;
  }
}
