.about {
  box-sizing: border-box;
<<<<<<< HEAD
  min-height: 624px;
  max-height: fit-content;
  display: flex;
  background: #ffffff;
  padding: 80px 0;
  z-index: 10;
  position: relative;
  gap: 56px;
  margin-left: 104px;
=======
  height: fit-content;
  display: flex;
  background: #ffffff;
  padding: 80px 104px;
  z-index: 10;
  position: relative;
  gap: 56px;
>>>>>>> stage-3
}

.about__image {
  border-radius: 50%;
  width: 464px;
  height: 464px;
}

.about__text {
  padding-top: 51px;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  max-width: 600px;
  min-width: 288px;
}

.about__title {
  font-size: 40px;
  line-height: 46px;
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-weight: 400;
<<<<<<< HEAD
  margin-block-end: 0;
  margin-block-start: 0;
}

@media screen and (max-width: 900px) {
  .about {
    min-height: 354px;
    padding: 0;
    margin: 40px;
    margin-bottom: 61px;
=======
  margin: 0;
  padding-bottom: 24px;
}
.about__paragraph {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18x;
  line-height: 24px;
  margin: 0;
}
.about__paragraph-opening,
.about__paragraph-intro {
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .about {
    padding: 0;
    min-height: 354px;
    padding-top: 40px;
    margin: 0 40px;
    padding-bottom: 61px;
>>>>>>> stage-3
    gap: 32px;
  }
  .about__image {
    width: 232px;
    height: 232px;
  }

  .about__title {
    padding-bottom: 16px;
    font-size: 30px;
  }
  .about__text {
    padding-top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
<<<<<<< HEAD
    margin-bottom: 91px;
=======
>>>>>>> stage-3
  }
}

@media screen and (max-width: 629px) {
  .about {
<<<<<<< HEAD
    box-sizing: border-box;
    flex-direction: column;
=======
    padding-top: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
>>>>>>> stage-3
    margin: 0 16px;
    gap: 24px;

    z-index: 0;
  }
  .about__text > p {
    margin: 0;
  }
  .about__title {
    line-height: 40px;
  }
  .about__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica,
      sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a1b22;
<<<<<<< HEAD
    padding: 32px 0px 128px 0px;
=======
>>>>>>> stage-3
    margin: 0;
  }
  .about__image {
    width: 272px;
    height: 272px;

    margin-top: 32px;
  }
}
