.popup__redirect {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #2f71e5;
  text-align: initial;
  margin: 0;
  position: absolute;
  top: 106px;
  border: none;
  background-color: #ffff0000;
  cursor: pointer;
}
