footer.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
.footer__link,
.footer__email {
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica,
    sans-serif;
}
ul.footer__div {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

ul.footer__div > li > a {
  text-decoration: auto;
  color: #1a1b22;
}

.footer__imgs {
  gap: 24px;
  margin: 0;
  display: flex;
}

.footer__wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}

p.footer__button > a {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: unset;
}

p.footer__copyrights {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

@media screen and (max-width: 565px) {
  footer.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: no-wrap;
    max-height: 176px;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  .footer__copyrights {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 22px;
  }
  ul.footer__div {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 0;
    -webkit-text-decoration: auto;
    text-decoration: auto;
  }
  .footer__wrap {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 16px;
    padding-top: 20px;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
