.newsCardList__cards {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(288px, 350px));
  grid-gap: 16px;
  justify-content: center;
  padding: 62px 102px;
  padding-bottom: 208px;
}
.newscardList__all-cards {
  padding-bottom: 62px;
}
.newsCardList__cards-listItem {
  box-sizing: border-box;
}

button.newsCardList__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  bottom: 89px;
  border-radius: 80px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  cursor: pointer;
  width: 288px;
  height: 64px;
  padding: 0 50px;
  border: none;
}

.newsCardList__button:hover {
  background-color: #d3d3d3;
}

@media screen and (max-width: 1110px) {
  button.newsCardList__button {
    margin: 0;
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 920px) {
  /* .newsCardList__cards {
    grid-template-columns: repeat(2fr, minmax(288px, 400px));
  } */
  button.newsCardList__button {
    bottom: 40px;
  }
}

@media screen and (max-width: 780px) {
  button.newsCardList__button {
    bottom: 32px;
  }
  .newsCardList__cards {
    padding-top: 32px;
    padding-right: 40px;
    padding-left: 40px;
    gap: 8px;
  }
  .newscardList__all-cards {
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 500px) {
  .newsCardList__cards {
    padding: 24px;
    display: flex;
    flex-direction: column;
  }
  button.newsCardList__button {
    bottom: 24px;
  }
  .newscardList__all-cards {
    padding-bottom: 12px;
  }
}
