.newsCardList__cards {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  grid-gap: 16px;
  justify-content: center;
  padding: 62px 102px;
}

button.newsCardList__button {
  background: #ffffff;
  border-radius: 80px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  grid-column: 2 / 3;
  justify-self: center;
  cursor: pointer;
  width: 288px;
  height: 64px;
  padding: 0 50px;
  margin-top: 48px;
  border: none;
}

.newsCardList__button:hover {
  background-color: #d3d3d3;
}

.newsCardList__cards-listItem {
  margin: 0 auto;
}

@media screen and (max-width: 1110px) {
  /*s  .newsCardList__cards {
    grid-template-columns: 0fr 0fr 0fr;
  }
} */
  @media screen and (max-width: 920px) {
    button.newsCardList__button {
      display: flex;
      justify-content: center;
      margin: auto 24px auto 40px;
    }
  }
  /* @media screen and (max-width: 780px) {
  .newsCardList__cards {
    grid-template-columns: 0fr 0fr;
  } */
  button.newsCardList__button {
    margin-top: 24px;
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 565px) {
  .newsCardList__cards {
    padding: 62px 16px;
  }
}
