article.NewsCard {
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid;
  max-height: 576px;
  background-color: #ffff;
}

.NewsCard-img {
  box-sizing: border-box;
  width: 400px;
  height: 272px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
button.NewsCard-img-icon {
  background: #ffffff;
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 40px;
}

.NewsCard-img-icon > img:hover {
  filter: none;
}

button.NewsCard-img-icon > img {
  filter: invert(40%) sepia(100%) saturate(0%) hue-rotate(86deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
}

.NewsCard-img-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 24px;
  padding-top: 24px;
}

button.NewsCard-img-tagBtn {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  padding: 8px 22px;
  border: none;
}

button.news-card__tootltip {
  position: absolute;
  right: 50px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  width: 159px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/*text parent*/

.NewsCard-text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  margin-bottom: 24px;
}
p.NewsCard-text-date {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 20px;
}

h3.NewsCard-text-title {
  box-sizing: border-box;
  max-height: 88px;
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 46px;
  max-height: 72px;
  overflow: hidden;
}

p.NewsCard-text-text {
  box-sizing: border-box;
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 22px;
  margin-bottom: 40px;
}
p.NewsCard-text-source {
  box-sizing: border-box;
  font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* article text ends here */

@media screen and (max-width: 1253px) {
  .NewsCard-img {
    box-sizing: border-box;
    width: 224px;
  }
  article.NewsCard {
    max-width: 224px;
  }
  h3.NewsCard-text-title {
    font-size: 22px;
    line-height: 24px;
  }
  p.NewsCard-text-text {
    max-width: 192px;
  }
  button.news-card__tootltip {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .NewsCard-img {
    max-height: 150px;
    object-fit: fill;
  }
  .NewsCard-img-container {
    margin: 0px 8px;
    padding-top: 8px;
  }

  .NewsCard-text {
    margin: 16px;
  }
  h3.NewsCard-text-title {
    padding-bottom: 34px;
  }
  p.NewsCard-text-text {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 565px) {
  .NewsCardList__cards {
    padding: 24px 16px;
  }
  .NewsCard-img {
    width: 288px;
  }
  article.NewsCard {
    max-width: 288px;
  }
}
